#landing_wrap{}
#landing_wrap .landing_visual{background: transparent linear-gradient(111deg, #159FE2 0%, #3F76C1 100%) 0% 0% no-repeat padding-box; color:#fff; height:700px; overflow: hidden; display: flex; justify-content: center; align-items: center; }
#landing_wrap .landing_visual .wrap{}
#landing_wrap .landing_visual .flex { justify-content: space-around; align-items: center; height: 610px; padding-top: 90px; }
#landing_wrap .landing_visual .left{width: 60%}
#landing_wrap .landing_visual .left .img_wrap{position: relative; z-index: 9}
#landing_wrap .landing_visual .left .img_wrap img{width: 520px}
#landing_wrap .landing_visual .left .img_wrap .bg{position: absolute; z-index: -1; bottom: 50%; width:100%; display: flex; justify-content: center; left:0; transform: translate(0, 30%);}
#landing_wrap .landing_visual .left .img_wrap .bg img{width:80%; }
#landing_wrap .landing_visual .left .img_wrap .bg img:nth-child(1) { position: absolute; z-index: -1; left: -10%; }
#landing_wrap .landing_visual .left .img_wrap .bg img:nth-child(2){position: absolute; z-index: 0; margin-top: -5em; right:0}
#landing_wrap .landing_visual .right{width: 50%; position: relative; z-index: 9}
#landing_wrap .landing_visual .right h1{font-weight: 300; margin-bottom: 40px; line-height: 1.3}
#landing_wrap .landing_visual .btn_wrap { display: flex; gap: 10px;  margin-top: 26px }
#landing_wrap .landing_visual .btn_wrap a { display: block; text-align: center; padding: 17px 20px; background: #F9F9F9; border-radius: 100px; width: 160px; max-width: 50%}

#landing_wrap .landing_sec1 {background: transparent linear-gradient(180deg, #D3EBF5 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;}
#landing_wrap .landing_sec1 .wrap{padding: 10em 0; justify-content: space-around; align-items: center;color: #3E648B;}
#landing_wrap .landing_sec1 h1 { font-weight: 300; letter-spacing: -.3px; line-height: 1.4; }
#landing_wrap .landing_sec1 h5{ font-size: 18px; font-weight: 300; margin-top: 24px; margin-bottom: 60px}
#landing_wrap .landing_sec1 .btn_wrap .btn{color:#fff; width: 200px; cursor: pointer; border-radius: 100px; font-size: 20px; background: #0090E3; padding: 20px 35px; display: flex; justify-content: space-between; align-items: center;box-shadow: 0px 3px 6px #00000029; transition: all 0.2s ease ; font-weight: 700}
#landing_wrap .landing_sec1 .btn_wrap .btn:hover{box-shadow: 0px 10px 20px #00000049;}
#landing_wrap .landing_sec1 .btn_wrap .btn i{transform: rotate(-45deg);}
#landing_wrap .landing_sec1 .cont_wrap{width: 50%}
#landing_wrap .landing_sec1 .cont_wrap .img_wrap{position: relative; z-index: 2; text-align: center;}
#landing_wrap .landing_sec1 .cont_wrap .img_wrap img{width: 50%; position: relative;}
#landing_wrap .landing_sec1 .cont_wrap .img_wrap .bg{position: absolute;  width: 100% ; display: flex; justify-content: space-between ; align-items: center; z-index: -1; top: 50%; left:0; transform: translate(0%, -50%); }
#landing_wrap .landing_sec1 .cont_wrap .img_wrap .bg img:nth-child(1){width: 210px;}
#landing_wrap .landing_sec1 .cont_wrap .img_wrap .bg img:nth-child(2){width: 210px}


/** 랜딩 메인 용 헤더, 푸터 **/

#landing #header{ position: fixed; background-color: transparent; box-shadow: none}
#landing #header .hd_top{background: #fff}
#landing #header .hd_wrap{ padding: 15px 0px;}

/*230122수정*/
#landing #header .hd_wrap img{width: 100%}
#landing #header .hd_wrap .logoimg_w{ display: block;}
#landing #header .hd_wrap .logoimg{display: none}
#landing #header:hover{background: transparent !important}
#landing #header:hover .hd_wrap .logoimg{display: none !important}
#landing #header:hover .hd_wrap .logoimg_w{display: block !important}
#landing #header .hd_btn {
    background: #ffffff29;
    padding: 13px 22px;
    width: auto;
    border-radius: 100px;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#landing #header .hd_btn a{display: block; text-align: center;color:#fff;font-weight: 600; font-size: 16px; cursor: pointer;}
#landing #header:hover .hd_btn{background: #fff; transition: all 0.2s ease;}
#landing #header:hover .hd_btn a{color: #0090E3}
#landing #header .hd_btn:after{ content: "\e93f"; font-family: 'xeicon'; padding-left: 10px; transition: all 0.2s ease; color: #fff; font-size: 14px; display:block; width: auto}
#landing #header:hover .hd_btn:after{}
#landing #header:hover .hd_btn:after{color: #0090E3}
#landing #header.fixed_header .hd_btn{background: #0090E3}
#landing #header.default .hd_btn{background: #0090E3; }
#landing #header.default .hd_btn a{ color: #fff }
#landing #header.default:hover{background: #fff !important}
#landing #header.default:hover .hd_btn:after{color: #fff}
#landing #header.default:hover .logoimg_w{display: none !important}
#landing #header.default:hover .logoimg{display: block !important}



#landing #footer{background: #F0F3F8}
#landing #footer .landing_ft_top{padding: 30px 0; background: #fff}
#landing #footer .landing_ft_top .flex{justify-content: flex-start; align-items: center; gap: 30px}
#landing #footer .landing_ft_top h5{ font-size: 20px; display: flex; align-items: center;}
#landing #footer .landing_ft_top h5 img{margin-right: 20px}
#landing #footer .landing_ft_top h3{font-size: 30px; color: #0090E3}
#landing #footer .landing_ft_top p{color: #757573}
#landing #footer .ft_top{display: block;}
#landing #footer .ft_top .flex{align-items: center}
#landing #footer .ft_familysite .ft_btn{background: #fff}


#subtitle .tit + .icon_li{margin-top: 80px;}


/** 랜딩페이지 대출신청 **/




@media (max-width: 768px){
  #landing #header .hd_wrap{background: transparent; padding: 15px 16px;}
  #landing_wrap .landing_visual{height: 90vh}
  #landing_wrap .landing_visual .flex { justify-content: center; align-items: center; height: 680px; padding-top: 160px; flex-direction: column-reverse; }
  #landing_wrap .landing_visual .left { width: 100%;     margin-top: 45px;}
  #landing_wrap .landing_visual .left .img_wrap { text-align: center;}
  #landing_wrap .landing_visual .left .img_wrap img { width: 100%}
  #landing_wrap .landing_visual .right { width: 100%; position: relative; text-align: center; z-index: 9; }
  #landing_wrap .landing_visual .right h1 { font-weight: 300; margin-bottom: 40px; line-height: 1.3; font-size: 30px; }
  /* 240201 */
  #landing_wrap .landing_visual .btn_wrap a { width: 136px; max-width: 45%; text-align: center; display: flex; justify-content: center; align-items: center; padding: 13px 20px}
  #landing_wrap .landing_visual .btn_wrap a img { width: 100%; display: block;text-align: center; }
  #landing_wrap .landing_visual .btn_wrap { display: flex; gap: 10px; margin-top: 48px; justify-content: center; }
  #landing_wrap .landing_sec1 .wrap{flex-direction: column;}
  #landing_wrap .landing_sec1 .cont_wrap{width: 100%; text-align: center;}
  #landing_wrap .landing_sec1 .btn_wrap .btn{margin: 0 auto;margin-bottom: 80px; }
  #landing_wrap .landing_sec1 h5 { margin-bottom: 24px; }
  #landing_wrap .landing_sec1 .cont_wrap .img_wrap img { width: 50%; }
  #landing_wrap .landing_sec1 .cont_wrap .img_wrap .bg img:nth-child(1),
  #landing_wrap .landing_sec1 .cont_wrap .img_wrap .bg img:nth-child(2) { width: 30%; }
  #landing #footer .landing_ft_top .flex{ flex-direction: column;gap: 10px;}
  #landing #footer .landing_ft_top h5 img { margin-right: 12px; width: 24px; }
  #landing #header .hd_btn { padding: 12px 25px;}
  #landing #header .hd_btn a{font-size: 14px}
  #landing_wrap .landing_visual .left .img_wrap .bg img:nth-child(2) { position: absolute; z-index: 0; margin-top: -2em; right: -7em; }

  #landing_wrap .landing_sec1 h1 { font-weight: 300; font-size: 30px; line-height: 1.4; }
  #landing_wrap .landing_sec1 .cont_wrap .img_wrap .bg { justify-content: center; gap: 90px;    margin-top: 1em; }
  /*230122추가*/
  #header.landing .hd_wrap .logo img{padding-left: 0}

}



@media (max-width: 320px){
  #landing_wrap .landing_visual .right h1, #landing_wrap .landing_sec1 h1 { font-size: 24px; }
  /* 240201 수정 */
  #landing_wrap .landing_visual .btn_wrap a { /*width: 40%;*/ padding: 13px; }
  #landing_wrap .landing_visual .btn_wrap a img{height: 18px}
}
