@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

::-webkit-scrollbar { width: 3px; } /* 스크롤 바 */
::-webkit-scrollbar-track { background-color:#fff; } /* 스크롤 바 밑의 배경 */
::-webkit-scrollbar-thumb { background: #ddd; border-radius: 10px; } /* 실질적 스크롤 바 */
::-webkit-scrollbar-thumb:hover { background: #0044B1; } /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
::-webkit-scrollbar-thumb:active { background: #0044B1; }
::-webkit-scrollbar-button { display: none; }

* {font-family: 'Pretendard', Noto Sans KR , Apple SD Gothic Neo, arial, sans-serif;}

body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden; overflow-y: auto;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

/* 메인 영역 *************************************************** */
#header {
    position: relative;
    padding-top: 50px; /* 로고의 높이만큼 헤더 위에 여백을 추가합니다. */
    height: 700px;
}

#logo {
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 2; /* 로고를 가장 위에 표시합니다. */
    width: 50px; 
    height: 50px; 
}

#logo img {
    width: 220px;
    height: auto;
    margin-left: 50px;
    margin-top: 15px;
}

#visual {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./img/BG.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1, h6 {
    margin: 0;
    padding: 0;
    z-index: 1; /* 텍스트를 로고 아래로 내립니다. */
}

header .title {
    margin-top: 150px;
}

header .title h6 {
    font-size: 22px; /* 원하는 크기로 조절합니다. */
    position: relative; /* 상대적 위치로 설정하여 다른 요소와의 관계를 고려합니다. */
    margin-left: 120px;
}

header .title h1 {
    font-size: 60px; /* 원하는 크기로 조절합니다. */
    font-weight: bold; /* 텍스트를 굵게 표시합니다. */
    line-height: 80px;
    position: relative; /* 상대적 위치로 설정하여 다른 요소와의 관계를 고려합니다. */
    padding-top: 20px; /* 로고와 가운데 정렬을 위한 여백 추가 */
    margin-left: 120px;
}

hr {
    position: relative;
    z-index: 1;
    border: none;
    border-top: 1px solid #E8E8E8; /* 가로선의 스타일을 설정합니다. */
    width: 100%; /* 가로선의 폭을 100%로 설정하여 가로 전체를 채우도록 합니다. */
    margin: 50px 0; /* 위아래 여백을 조절합니다. */
}



/* ★ 컨텐츠 영역 (공통) *************************************************** */
#main01,
#main02,
#main03,
#main04 {
    position: relative;
    /* margin-top: 30px; */
    display: flex;
    justify-content: center;
}

#contents01,
#contents02,
#contents03,
#contents04 {
    z-index: 2; /* 로고를 가장 위에 표시합니다. */
}

.container01,
.container02,
.container03,
.container04 {
    margin: auto; /* 내부 요소를 수직으로 가운데 정렬합니다. */
    text-align: center; /* 내부 요소의 텍스트를 가운데 정렬합니다. */
}


main .container01 h2,
main .container02 h2,
main .container03 h2,
main .container04 h2 {
    font-size: 50px; /* 원하는 크기로 조절합니다. */
    font-weight: bold; /* 텍스트를 굵게 표시합니다. */
    position: relative; /* 상대적 위치로 설정하여 다른 요소와의 관계를 고려합니다. */
    margin: 0;
}

main .container01 h6,
main .container02 h6,
main .container03 h6,
main .container04 h6 {
    font-size: 20px; /* 원하는 크기로 조절합니다. */
    font-weight: normal; /* 텍스트를 굵게 표시합니다. */
    line-height: 80px;
    position: relative; /* 상대적 위치로 설정하여 다른 요소와의 관계를 고려합니다. */
    margin-top: -10px;
}


/* 컨텐츠 영역 01 - SERVICE *************************************************** */
#main01 {
    background-color: #F8F8F8;
    height: 750px;
}

#contents01 {
    margin-top: 80px;
}

.parent {
    display: flex; /* 박스들을 플렉스 박스로 설정하여 가로로 정렬합니다. */
    gap: 40px; /* 각각의 박스 사이에 10px 간격을 줍니다. */
    margin-top: 50px;
}

.child {
    width: 363px;
    height: 380px;
    background-color: white;
    border: 1px solid #E8E8E8;
    border-radius: 20px;
}

.child .img{
    margin-top: 40px;
    margin-left: 40px;
}

.child .txt{
    margin-top: 80px;
    font-size: 34px;
    font-weight: 500;
    margin-left: 40px;
}

.child .txc{
    font-size: 17px;
    font-weight: normal;
    color: #7F7F7F;
    line-height: 25px;
    margin-left: 40px;
    margin-top: 20px;
}


/* 컨텐츠 영역 02 - PR *************************************************** */
#main02 {
    /* background-color: #F8F8F8; */
    height: 600px;
    margin-top: -50px;
    margin-bottom: 20px;
}

.pr_parent {
    display: flex; /* 박스들을 플렉스 박스로 설정하여 가로로 정렬합니다. */
    gap: 65px; /* 각각의 박스 사이에 10px 간격을 줍니다. */
    margin-top: 60px;
    justify-content: center; /* 가운데 정렬 */
}

.container02 {
    margin-top: 100px;
}

.v-line{
    border: 0.1px solid #dfdfdf;
    height: 90px;
}

.pr_child .txt{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: normal;
    font-weight: 500;
    margin-top: 26px;
}

.pr_child {
    text-align: center; /* 텍스트 가운데 정렬 */
    line-height: 25px;
}

.pr_child .txt_t{
    color: #7B7B7B;
}



/* 컨텐츠 영역 03 - CONTACT *************************************************** */
#main03 {
    height: 950px;
    margin-top: 100px;
}

#loan_wrap.landing_info .loan_wrapper h4.bold{margin-bottom: 40px}
#loan_wrap.landing_info .input-group{display: flex;}
#loan_wrap.landing_info .input-group .select-selected{ min-width: 140px; max-width: -webkit-fill-available;}
#loan_wrap.landing_info .info_form table tr td.inputtype_2.post input{width: 100%}
#loan_wrap.landing_info .info_form table tr td.inputtype_3 input[type=text],
#loan_wrap.landing_info .info_form table tr td.inputtype_3 .custom-select{ width: 33%;}
#loan_wrap.landing_info .info_form table tr td.inputtype_2.post input.post1{ width: -webkit-fill-available !important}
#loan_wrap.landing_info .info_form table tr td.inputtype_2.post input[type=button] { margin-left: 5px; border: 1px solid #0044B1; color: #0044B1; width: 120px; background-color: #fff; padding: 17px 0; cursor: pointer; max-width: none; }
#loan_wrap.landing_info .info_form table tr td.inputtype_2.txt input { width: 90%; }
#loan_wrap.landing_info .info_form .custom-select{  width: -webkit-fill-available;}
#loan_wrap.landing_info .info_form table tr td.inputtype_2.inputtxt input{width: -webkit-fill-available;}
#loan_wrap.landing_info .form_cont .checkbox-wrapper-18 .round label span{top: 100%;}
#loan_wrap.landing_info .form_cont .checkbox-wrapper-18 .round.big_check label:after{ top: 8px; left: 8px; }
#loan_wrap.landing_info .info_form table tr td.inputtype_2.txt .custom-select{width: 90%;}



@media screen and (max-width: 768px){
    #loan_wrap.landing_info .input-group .select-selected{min-width: auto}
}

/* 대출신청 - 약관동의 */
#loan_wrap .agree_terms_tit{text-align: center; padding: 35px 99px;}
#loan_wrap .agree_terms_tit h5{font-size: 18px ; font-weight: 700; margin-bottom: 16px}
#loan_wrap .agree_terms_tit p{font-size: 16px}
#loan_wrap .agree_terms_tit p br{display: none}
#loan_wrap .marginbt_60{margin-bottom: 60px}
#loan_wrap .agree_terms_wrap {padding:60px 0; border-bottom: 1px solid #E2E2E2}
#loan_wrap .agree_terms_wrap.uiprocessing{border-bottom:0}
#loan_wrap .agree_terms_wrap:last-child{border-bottom: 0px solid #E2E2E2}
#loan_wrap .agree_terms_wrap .agree_modal1{color:#D2D2D2; font-size: 16px}
#loan_wrap .agree_terms_wrap .flex{align-items: center}
#loan_wrap .agree_terms_wrap .flex.terms_text_li{margin-top: 60px}
#loan_wrap .agree_terms_wrap .flex .agree_terms_input{margin-top: 0}
#loan_wrap .agree_terms_wrap p.terms_text{font-size: 16px;}
#loan_wrap .agree_terms_wrap p.terms_text_caption{font-size: 14px; color: #A4A4A4; margin-top: 10px}
#loan_wrap .agree_terms_wrap .inner_checkbox{ padding-left: 13px; vertical-align: middle;}
#loan_wrap .agree_terms_wrap .inner_checkbox p {font-size: inherit}
#loan_wrap .agree_terms_wrap .inner_checkbox label{margin-right: 8px}
#loan_wrap .agree_terms_wrap .inner_checkbox label.last{margin-right: 0}
#loan_wrap .agree_terms_wrap .inner_checkbox *{display: inline-flex; vertical-align: middle; align-items: center; color: #B9B9B9}
#loan_wrap .agree_terms_wrap .inner_checkbox input[type="checkbox"]{margin-left: 4px}
#loan_wrap .agree_terms_wrap .inner_checkbox input[type="checkbox"]{ user-select: none; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; height: 14px; outline: 0; width: 14px; border: 1px solid #B9B9B9;}
#loan_wrap .agree_terms_wrap .inner_checkbox input[type="checkbox"]::after { border: solid #0044B1; border-width: 0px 1px 1px 0px; content: ''; display: none; height: 7px; left: 4px; position: relative; top: -1px; transform: rotate(45deg); width: 4px; }
#loan_wrap .agree_terms_wrap .inner_checkbox input[type="checkbox"]:checked { background: none; }
#loan_wrap .agree_terms_wrap .inner_checkbox input[type="checkbox"]:checked::after { display: block; }

#loan_wrap .agree_terms_wrap .agree_terms_inner{margin-bottom: 60px;}
#loan_wrap .agree_terms_wrap .agree_terms_inner:last-child{margin-bottom: 0}
#loan_wrap .agree_terms_wrap .terms_required_txt { font-size: 14px; padding: 2px 6px; border-radius: 4px; border: 1px solid #0044B1; color: #0044B1; font-weight: 400; margin-right: 8px; line-height: 20px; vertical-align: middle; }
#loan_wrap .agree_terms_wrap .terms_required_txt.gray {color:#8D8D8D; border : 1px solid #8D8D8D}
#loan_wrap .agree_terms_input{margin-top: 18px; justify-content: flex-end;}
#loan_wrap .agree_terms_input input[type=radio]{ display: none; }
#loan_wrap .agree_terms_input input[type=radio]+label { cursor: pointer; text-align: left; font-size: 14px; display: inline-flex; align-items: center; margin-left: 13px; }
#loan_wrap .agree_terms_input input[type=radio]+label:before { content: ''; width: 16px; height: 16px; background-image: url('../images/radio_icon_unchecked.png'); background-size: 100%; margin-right:6px;  display: inline-flex; background-size: 100%; align-content: center; align-items: center; }

#loan_wrap .agree_terms_input input[type=radio]:checked+label:before { background-image: url('../images/radio_icon_checked.png'); }
#loan_wrap .agree_terms_input .agree_rating{gap:10px}
#loan_wrap .agree_terms_input.rating_txt{justify-content: space-between;}
#loan_wrap .agree_terms_input .agree_rating span{padding: 4px 8px; color: #A4A4A4; border:1px solid #F1F1F1; background-color: #FBFBFB; border-radius: 4px;}
#loan_wrap .agree_terms_input .agree_rating img{width:280px}
#loan_wrap .agree_terms_inner+.graytxt{margin-top: 60px}
#loan_wrap .graytxt {position: relative; color: #A4A4A4; font-size: 16px; padding-left: 16px; line-height: 1.6}
#loan_wrap .graytxt span{position: absolute; left: 0; top: 0}
.graybox-wrapper { background-color: #FBFBFB; border-radius: 10px; border: 1px solid #E2E2E2; padding: 25px; }
.graybox-wrapper .agree_terms_input{margin-top: 0 !important}

/*체크박스 */
.checkbox-wrapper {
    /* background-color: #FCFCFC;  */
    border-radius: 10px;
    /* border: 1px solid #DBDBDB;  */
    padding:25px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.checkbox-wrapper .cbx { -webkit-user-select: none; user-select: none; -webkit-tap-highlight-color: transparent; cursor: pointer; }
.checkbox-wrapper .cbx span { display: inline-block; vertical-align: middle; transform: translate3d(0, 0, 0); font-size: 16px; font-weight: 600; margin-right: 7px;}
.checkbox-wrapper .cbx span:first-child { position: relative; width: 24px; height: 24px; border-radius: 50%; transform: scale(1); vertical-align: middle; border: 1px solid #B9B8C3; transition: all 0.2s ease; }
.checkbox-wrapper .cbx span:first-child svg { position: absolute; z-index: 1; top: 8px; left: 6px; fill: none; stroke: #B7B7B7; /* 초기에는 체크 색상으로 설정 */ stroke-width: 1; stroke-linecap: round; stroke-linejoin: round; stroke-dasharray: 16px; stroke-dashoffset: 0; /* 초기에는 체크가 보이도록 설정 */ transition: all 0.3s ease; transition-delay: 0.1s; transform: translate3d(0, 0, 0); }
.checkbox-wrapper .cbx span:first-child:before { content: ""; width: 100%; height: 100%; background: #0044B1; display: block; transform: scale(0); opacity: 1; border-radius: 50%; transition-delay: 0.2s; }
.checkbox-wrapper .cbx span:last-child { margin-left: 8px; }
.checkbox-wrapper .cbx:hover span:first-child { border-color: #0044B1; }
.checkbox-wrapper .cbx:hover span:first-child svg {stroke: #0044B1; }
.checkbox-wrapper .inp-cbx:checked + .cbx span:first-child { border-color: #0044B1; background: #0044B1; animation: check-15 0.6s ease; }
.checkbox-wrapper .inp-cbx:checked + .cbx span:first-child { border-color: #0044B1; background: #0044B1; animation: check-15 0.6s ease; }
.checkbox-wrapper .inp-cbx:checked + .cbx span:first-child svg { stroke-dashoffset: 0;stroke: #fff; stroke-width: 2; }
.checkbox-wrapper .inp-cbx:checked + .cbx span:first-child:before { transform: scale(2.2); opacity: 0; transition: all 0.6s ease; }
.checkbox-wrapper .inp-cbx:checked + .cbx span:last-child { color: #0044B1; transition: all 0.3s ease; }
.checkbox-wrapper .inp-cbx:checked + .cbx span:last-child:after { transform: scaleX(1); transition: all 0.3s ease; }
.checkbox-wrapper label + span.redtxt{ font-size: 12px}
.agree_terms_check.checkbox-wrapper .inp-cbx:checked + .cbx span:last-child{color:#111}
.agree_terms_check.checkbox-wrapper .cbx span:first-child{margin-right: 16px}
.agree_terms_check.checkbox-wrapper .cbx{display: flex; align-items: center;}
#applyBtn:disabled { background-color: #EDEFF3; color: #C6C7C9; cursor: not-allowed; }
#applyBtn{margin-top: 70px !important; margin-bottom: 184px !important}

@keyframes check-15 {
    50% {
        transform: scale(1.2);
    }
}






/* 정보입력 */
#loan_wrap.credit_info{
    padding-top: 40px; 
    padding-bottom: 100px;
    /* width: 654px;
    height: 650px; */
}
#loan_wrap.credit_info h1.margin-bt{margin-bottom: 38px}
#loan_wrap.credit_info .checkbox-wrapper .cbx span:last-child{margin: 0 !important;}
#loan_wrap.credit_info .graybox{margin: 26px 0 }
#loan_wrap.credit_info .graybox p{font-size: 16px;line-height: 1.6;}
#loan_wrap.credit_info .round_no{border-radius: 0;}
#loan_wrap.credit_info .round_no p span.shape{padding-left: 14px; display: block;position: relative;}
#loan_wrap.credit_info .round_no p span.shape::before{content:'※'; position: absolute; left: 0}
#loan_wrap.credit_info .info_form{margin: 91px 0 }
#loan_wrap.credit_info .info_form:last-child{margin-bottom: 0px}
#loan_wrap.credit_info .info_form.bt_verification{margin-top: 94px}
#loan_wrap.credit_info .form_cont:last-child{margin-bottom: 0px}
.input-group{align-items: center; gap: 6px }
#loan_wrap button { margin-top: 60px; }
#loan_wrap.credit_info .info_form h1{margin-bottom: 24px;}
#loan_wrap.credit_info .info_form h4{margin-bottom: 20px; font-weight: 400;}
#loan_wrap.credit_info .info_form .form_sm_txt{font-size: 12px; color: #A4A4A4; margin-bottom: 18px}
/* #loan_wrap.credit_info .info_form table{ width: 100% ; border-top: 1px solid #6C6C6C;} */
#loan_wrap.credit_info .info_form table tr{border-bottom: 1px solid #F2F2F2}
#loan_wrap.credit_info .info_form table tr td{
    padding: 5px 20px ; 
    font-size: 14px; 
    color:#A4A4A4;
    text-align: left;
}
#loan_wrap.credit_info .info_form table tr td.inputtype_2 select+input{margin-left: 6px;width: 196px;}
#loan_wrap.credit_info .info_form table tr td.inputtype_2.mail{    word-spacing: 4px;}
/* #loan_wrap.credit_info .info_form table tr td:nth-child(1){ background-color: #FCFCFC; width: 180px; color:#111111} */
#loan_wrap.credit_info .info_form table tr td.required:after{content: '*'; color: #E85C53; margin-left: 0px}
#loan_wrap.credit_info .info_form table tr td span{margin-left: 8px}
#loan_wrap.credit_info .info_form table tr td span+input{margin-left: 8px}
#loan_wrap.credit_info .form_cont .checkbox-wrapper-18 .round label span{margin-left: 0}
#loan_wrap.credit_info .info_form table tr td input,
#loan_wrap.credit_info .info_form table tr td select{transition: 0.5s ease-in-out; border: 1px solid #D9D9D9; padding: 17px ; border-radius: 8px; color:#a4a4a4; font-size: 14px}
#loan_wrap.credit_info .info_form table tr td input:focus,
#loan_wrap.credit_info .info_form table tr td select:focus,
#loan_wrap.credit_info .info_form table tr td input:hover,
#loan_wrap.credit_info .info_form table tr td select:hover{outline: none; border: 1px solid #0044B1; color: #111}
#loan_wrap.credit_info .info_form table tr td input::placeholder{color: #A4A4A4}
#loan_wrap.credit_info .info_form table tr td input[type=password] { background-image: url('../images/info_icon_01.png'); background-repeat: no-repeat; background-size: 26px 15px; background-position: right 10px center; }
#loan_wrap.credit_info .info_form table tr td select{-webkit-appearance: none; -moz-appearance: none; appearance: none; background: url('../img/resources/images/select_icon.svg') no-repeat right 10px center; background-size: 17px 16px; min-width: 150px}
#loan_wrap.credit_info .info_form table tr td.inputtype_1 input,
#loan_wrap.credit_info .info_form table tr td.inputtype_1 select {width: 424px;}
#loan_wrap.credit_info .info_form table tr td.inputtype_1 select{min-width: 460px}
#loan_wrap.credit_info .info_form table tr td.inputtype_1.txt input { width: 390px; }
#loan_wrap.credit_info .info_form table tr td.inputtype_1.txt select{width: 420px; min-width: auto;}
#loan_wrap.credit_info .info_form table tr td.inputtype_2 input,
#loan_wrap.credit_info .info_form table tr td.inputtype_2 select {width: 220px}
#loan_wrap.credit_info .info_form table tr td.inputtype_2.mail input{width: 195px;}
#loan_wrap.credit_info .info_form table tr td.inputtype_2.inputtxt input{width:187px}
#loan_wrap.credit_info .info_form table tr td.inputtype_2.txt input{width:160px}
#loan_wrap.credit_info .info_form table tr td.inputtype_2.txt input:last-child{margin-left: 8px}
#loan_wrap.credit_info .info_form table tr td.inputtype_2.post input{width: 424px; margin-bottom: 8px}
#loan_wrap.credit_info .info_form table tr td.inputtype_2.post input:last-child{margin-bottom: 0}
#loan_wrap.credit_info .info_form table tr td.inputtype_2.post input.post1{width:315px}
#loan_wrap.credit_info .info_form table tr td.inputtype_2.post input[type=button]{margin-left: 5px ;border: 1px solid #0044B1; color:#0044B1; width: 100px; background-color: #fff; padding: 17px 0; cursor: pointer;}
#loan_wrap.credit_info .info_form table tr td.inputtype_3 input[type=text],
#loan_wrap.credit_info .info_form table tr td.inputtype_3 select {width: 105px}
#loan_wrap.credit_info .info_form table tr td.inputtype_2.mail select{ width: 196px;}
#loan_wrap.credit_info .info_form table tr td.inputtype_3 input[type=text]:disabled, #loan_wrap.credit_info .info_form table tr td.inputtype_3 select:disabled{background-color: #f8f8f8}
#loan_wrap.credit_info .info_form table tr td.inputtype_2.mail select+input{width: 146px; margin-left: 0}
#loan_wrap.credit_info .form_cont .checkbox-wrapper-18,
#loan_wrap.credit_info .form_cont .checkbox-wrapper-19{display: flex; justify-content: flex-start; align-items: center; margin-top: 10px}
#loan_wrap.credit_info .form_cont .checkbox-wrapper-18 .round { position: relative; }
.error { border: 1px solid red !important; }
.checkbox-wrapper .cbx span { display: inline-block; vertical-align: middle; transform: translate3d(0, 0, 0); font-size: 16px; font-weight: 600; margin-right: 7px}
.checkbox-wrapper .cbx span:first-child { position: relative; width: 24px; height: 24px; border-radius: 50%; transform: scale(1); vertical-align: middle; border: 1px solid #B9B8C3; transition: all 0.2s ease; }
.checkbox-wrapper .cbx span:first-child svg { position: absolute; z-index: 1; top: 7px; left: 5px; fill: none; stroke: #B7B7B7; /* 초기에는 체크 색상으로 설정 */ stroke-width: 1; stroke-linecap: round; stroke-linejoin: round; stroke-dasharray: 16px; stroke-dashoffset: 0; /* 초기에는 체크가 보이도록 설정 */ transition: all 0.3s ease; transition-delay: 0.1s; transform: translate3d(0, 0, 0); }
.checkbox-wrapper .cbx span:first-child:before { 
    content: ""; 
    width: 100%; 
    height: 100%; 
    background: #0044B1; 
    display: block; 
    transform: scale(0); 
    opacity: 1; 
    border-radius: 50%; 
    transition-delay: 0.2s; 
}
.checkbox-wrapper .cbx span:last-child { margin-left: 8px; }
#loan_wrap.credit_info .form_cont .checkbox-wrapper-18.pd-left{    padding: 0 0 0 26px;sss}
#loan_wrap.credit_info .form_cont .check_wrap.pd-left{    padding: 0 0 0 26px;}

#loan_wrap.credit_info .form_cont .checkbox-wrapper-18 .round label { background-color: #fff; border: 1px solid #ccc; border-radius: 50%; cursor: pointer; height: 16px; width: 16px; display: block; }
#loan_wrap.credit_info .form_cont .checkbox-wrapper-18 .round label:after { border: 1px solid #939393; border-top: none; border-right: none; content: ""; height: 4px; left: 6px; opacity: 1; position: absolute; top: 5px; left: 5px; transform: rotate(-45deg); width: 6px; }
#loan_wrap.credit_info .form_cont .checkbox-wrapper-18 .round input[type="checkbox"] { visibility: hidden; display: none; opacity: 1; }
#loan_wrap.credit_info .form_cont .checkbox-wrapper-18 .round input[type="checkbox"]:checked + label { background-color: #0044B1; border-color: #0044B1; }
#loan_wrap.credit_info .form_cont .checkbox-wrapper-18 .round input[type="checkbox"]:checked + label:after { opacity: 1; border: 2px solid #fff;  border-top: none; border-right: none;}
#loan_wrap.credit_info .form_cont .checkbox-wrapper-18 .round label span { position: absolute; left: 25px; width: 40px; top: 50%;     transform: translate(0, -50%); font-weight: 600;font-weight: normal; color: #111;}
#loan_wrap.credit_info .form_cont .checkbox-wrapper-18 .round.big_check label{ background-color: #fff; border: 1px solid #ccc; border-radius: 50%; cursor: pointer; height: 25px; width:25px; display: block; }
#loan_wrap.credit_info .form_cont .checkbox-wrapper-18 .round.big_check label:after { border: 1px solid #939393; border-top: none; border-right: none; content: ""; height: 5px;  width: 8px; left: 6px; opacity: 1; position: absolute; top: 9px; left: 9px; transform: rotate(-45deg); }
#loan_wrap.credit_info .form_cont .checkbox-wrapper-18 .round.big_check label span { position: absolute; left: 33px; width: 40px; top: 50%; transform: translate(0%, -50%); margin-top: 0; font-weight: 600; font-size: 16px; line-height: initial; }
#loan_wrap.credit_info .form_cont{margin-bottom: 80px}
#loan_wrap.credit_info .form_cont .graybox{border-radius: 0; border-top: 1px solid #6C6C6C}
#loan_wrap.credit_info .form_cont .graybox h5{font-size: 18px; margin-bottom: 16px}
#loan_wrap.credit_info .form_cont .graybox p{font-size: 16px; padding-left: 14px; position: relative; font-weight: 300}
#loan_wrap.credit_info .form_cont .graybox p::before{content:'※'; position: absolute; left: 0}
#loan_wrap.credit_info .form_cont .graybox .before_no{padding-left:0 }
#loan_wrap.credit_info .form_cont .graybox .before_no::before{display: none;}
#loan_wrap.credit_info .form_cont .check_wrap{justify-content: flex-start; width: 100%}


#loan_wrap.credit_info .form_cont .graybox.text{margin-bottom: 20px}
#loan_wrap .form_cont .graybox + .check_wrap{padding-left: 35px}
#loan_wrap.credit_info .form_cont .graybox + .checkbox-wrapper-18{padding-left: 35px}
#loan_wrap.credit_info .form_cont .check_wrap input[type=radio]{ display: none; }
#loan_wrap.credit_info .form_cont .check_wrap input[type=radio]+label{ font-size: 16px; width: auto; margin-left: 0; cursor: pointer; text-align:left; font-weight: 600; display: inline-flex; width: ; align-items: center;margin-right: 30px}
#loan_wrap.credit_info .form_cont .check_wrap input[type=radio]+label:before { content: ''; width: 25px; height: 25px; background-image: url('../images/unchecked.png'); background-size: 100%; margin-right:6px;  display: inline-flex; background-size: 100%; align-content: center; align-items: center; background-repeat: no-repeat;}

#loan_wrap.credit_info .form_cont .check_wrap input[type=radio]:checked+label:before { background-image: url('../images/checked.png'); }
#loan_wrap.credit_info .form_cont input[type="radio"]{ display: none; }
#loan_wrap.credit_info .form_cont input[type="radio"]+label { cursor: pointer; text-align: left; font-size: 14px; display: inline-flex; align-items: center; margin-left: 20px; }
#loan_wrap.credit_info .form_cont input[type="radio"]+label:before { content: ''; width: 16px; height: 16px; background-image: url('../images/radio_icon_unchecked.png'); background-size: 100%; margin-right:6px;  display: inline-flex; background-size: 100%; align-content: center; align-items: center; }

#loan_wrap.credit_info .form_cont input[type="radio"]:checked+label:before { background-image: url('../images/radio_icon_checked.png'); }
#loan_wrap.credit_info .form_cont .post .radio_cont{margin-bottom: 10px}
#loan_wrap.credit_info .form_cont .post .radio_cont label[for=post1]{margin-left: 0; }
#loan_wrap.credit_info .form_cont .post .radio_cont label{color:#111}
#loan_wrap.credit_info .form_cont .certify_cont {border-top: 1px solid #6C6C6C; padding: 36px 100px 0; justify-content: space-between;}
#loan_wrap.credit_info .form_cont .certify_cont input[type="radio"]+label{margin-left: 0 ; padding: 0 1em; display: block; text-align: center; user-select: none; -webkit-tap-highlight-color: transparent; transform: translate3d(0, 0, 0);}
#loan_wrap.credit_info .form_cont .certify_cont input[type="radio"]+label:before {display: none}
#loan_wrap.credit_info .form_cont .certify_cont input[type="radio"]+label img{ width: 105px; display: block; border: 2px solid #F8FBFC; border-radius: 1000px; box-sizing: border-box; margin-bottom: 10px}
#loan_wrap.credit_info .form_cont .certify_cont input[type="radio"]:checked+label img{border: 2px solid #0044B1;}
#loan_wrap.credit_info .form_cont .certify_cont label p{font-size: 14px}
#loan_wrap.credit_info .form_cont .certify_cont input[type="radio"]:checked+label p{font-weight: 600; color: #0044B1; }

#loan_wrap.credit_info .credit_info_btnrap button.btn_gray{margin-top: 8px; border: 1px solid #E2E2E2; background-color: #fff; color: #B2B2B2}
#loan_wrap.credit_info .credit_info_btnrap button.btn_gray:hover{ border: 1px solid #797979; background-color: #fff; color: #797979}
#loan_wrap.credit_info.landing_info .info_form table tr td.inputtype_1 input,
#loan_wrap.credit_info.landing_info .info_form table tr td.inputtype_1 select{width: inherit; min-width: -webkit-fill-available}
#loan_wrap.credit_info.landing_info .info_form table tr td.inputtype_2.post input.post1{width: auto}
#loan_wrap.credit_info .info_form table .row{width: 450px}


#loan_wrap.credit_info .form_cont h4.bold{font-weight: 700}
#loan_wrap.credit_info .form_cont .desired h4{margin-bottom: 25px; padding-bottom: 25px; border-bottom: 1px solid #6C6C6C}
#loan_wrap.credit_info .form_cont .desired .check_wrap{padding-left: 0}
#loan_wrap.credit_info .checkbox-wrapper .cbx span:first-child svg{ top: 7px; left: 5px;}
.form-control.is-invalid, .was-validated .form-control:invalid,
.form-select.is-invalid, .was-validated .form-select:invalid{ border: 1px solid #dc3545 !important;}
.was-validated .form-select:valid:not([multiple]):not([size]){    border: 1px solid #dc3545 !important;}
.form-control.is-valid, .was-validated .form-control:valid{background-image: none}
.was-validated .form-control:valid{border: 1px solid #0044B1; outline: none; box-shadow: none}


#loan_wrap button { 
    border: 1px solid #0044B1; 
    background-color: #0044B1; 
    width: 900px;
    max-width:400px; 
    margin: 0 auto; 
    text-align: center; 
    display: block; 
    border-radius: 8px; 
    height: 50px; 
    color: #fff; 
    font-size: 18px; 
    margin-top: 10px; 
    font-weight: 600;
}
#loan_wrap button:hover{background-color: #fff; border: 1px solid #0044B1; color:#0044B1; transition: 0.2s; box-shadow: border-box}


textarea {
    padding: 17px;
    height: 280px;
    border-radius: 8px !important;
    font-size: 14px;
    border: 1px solid #D9D9D9;
}

textarea:focus {
    border-color: #0044B1;
    outline: none;
}

textarea::placeholder {
    color: #A4A4A4;
}


.select-selected {
    background: url(../img/resources/images/select_icon.svg) no-repeat right 10px center;
    background-size: 17px 16px;
    min-width: 130px;
}


#contents03 {
    text-align: center; /* 타이틀 가운데 정렬 */
}

.content_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#loan_wrap {
    width: 654px; /* 표의 가로 크기 */
    height: 650px; /* 표의 세로 크기 */
}

#maps {
    width: 876px; /* 지도 영역의 가로 크기 */
    height: 650px; /* 지도 영역의 세로 크기 */
    margin-left: 70px; /* 표와 지도 영역 간격 */
}

#map {
    max-width: 100%;
    height: auto;
}

.info_form textarea {
    width: 430px;
}



.content_wrapper {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

.loan_wrapper,
.agree_terms_check {
    display: inline-block; /* 요소들이 가로로 정렬되도록 함 */
    text-align: center; /* 가운데 정렬 */
}


#maps {
    position: relative; /* 부모 요소를 기준으로 자식 요소의 위치 조정 */
    display: inline-block; /* 요소를 인라인 블록으로 설정하여 다른 인라인 요소와 함께 나타날 수 있게 함 */
}
#map {
    display: block; /* 이미지를 블록 레벨 요소로 설정하여 텍스트와 이미지를 위아래로 정렬할 수 있게 함 */
    /* margin-bottom: 5px; 이미지 아래 여백 추가 */
}
#maps span {
    position: absolute; /* 절대 위치 */
    bottom: 0; /* 부모 요소의 하단에 텍스트를 배치 */
    left: 0; /* 왼쪽 정렬 */
    width: 100%; /* 부모 요소의 너비에 맞게 설정 */
    background-color: rgba(255, 255, 255, 0.8); /* 텍스트 배경색 */
    padding: 25px; /* 텍스트 주위 여백 추가 */
    box-sizing: border-box; /* padding 값을 포함하여 요소의 크기 계산 */
}



/* 컨텐츠 영역 04 - CLIENT *************************************************** */
.post-wrapper {
    display: flex; /* 이미지들을 한 줄에 표시 */
    overflow-x: auto; /* 가로 스크롤을 추가하여 넘치는 이미지를 롤링으로 표시 */
    margin: 0 auto; /* 페이지를 수평으로 가운데 정렬 */
}

.post {
    flex: 0 0 auto; /* 이미지가 너무 작아지지 않도록 크기를 고정 */
}

.post img {
    max-width: 100%; /* 이미지가 부모 요소의 너비를 넘어가지 않도록 최대 너비 설정 */
    height: auto; /* 이미지 비율을 유지하면서 자동으로 높이를 조정 */
}

.slider-controls {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    height: 105px; /* 요소의 높이를 105px로 설정 */
}

.slider-title {
    margin-right: 10px; /* 텍스트와 화살표 사이의 간격을 늘립니다. */
}

.prev,
.next {
    margin-right: 10px; /* 화살표 간격을 설정합니다. */
}


.page-wrapper {
    max-width: 1600px; /* 페이지 너비를 최대 1600px로 제한 */
    margin: 0 auto; /* 페이지를 수평으로 가운데 정렬 */
}



/* 푸터 *************************************************** */
#footer {
    max-width: 1750px;
    margin: 0 auto;
    padding: 80px 0;
}

#footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* 추가 */
}

.ft_logo {
    display: flex;
    justify-content: center; /* 요소를 수직으로 중앙 정렬합니다. */
    align-items: center; /* 요소를 수평으로 중앙 정렬합니다. */
    height: 100%; /* 부모 요소의 높이를 기준으로 정렬합니다. */
    margin-bottom: 50px;
}

.ft_familysite {
    position: absolute; /* 추가 */
    right: 0; /* 추가 */
    margin-top: 40px;
}

#footer .ft_familysite .ft_btn {
    width: auto;
    line-height: 30px;
}

#footer .ft_familysite .ft_btn .siteli {
    width: auto;
}

#footer .ft_logo > div:nth-child(2),
#footer .ft_familysite {
    margin-left: 20px;
}

.ft_logo > div:nth-child(2) {
    margin-right: 950px;
}

#footer {
    max-width: 1750px;
    margin: 0 auto;
    padding: 80px 0;
}
.row{
    color: #919197;
    font-size: 14px;
    line-height: 1.5; /* 행간 설정 */
}

.ft_logo {
    display: flex;
    align-items: center;
}

.ft_logo img {
    margin-right: 10px;
}

.container {
    max-width: 1750px; /* 최대 가로 폭 설정 */
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* 요소들을 가로로 분산 정렬 */
    align-items: center; /* 세로 방향 가운데 정렬 */
}

.siteli {
    display: none;
}
.siteli.active {
    display: block;
}

#footer .ft_familysite {
    padding: 0 0 20px;
}

#footer .ft_familysite .ft_btn.active, #footer .ft_familysite .ft_btn:hover {
    -webkit-tap-highlight-color: transparent;
    font-weight: 500;
    transform: translateZ(0);
    transition: .3s;
    -webkit-user-select: none;
    user-select: none;
}

#footer .ft_familysite .ft_btn p {
    font-size: 14px;
}
#footer .ft_familysite {
    padding: 0px;
    padding-bottom: 50px;
  }
  #footer .ft_familysite .ft_btn {
    padding: 15px 12px;
    width: inherit;
  }
  #footer .ft_familysite .ft_btn .siteli {
    top: 55px;
  }
#footer .ft_familysite .ft_btn {
    background: #f6f6f6;
    border-radius: 8px;
    cursor: pointer;
    justify-content: space-between;
    /* padding: 22px 16px; */
    position: relative;
    width: 200px;
    height: 30px;
    line-height: 30px;
}
#footer .ft_familysite .ft_btn p {
    margin: 0; /* 기본 마진 제거 */
    align-self: center; /* 자식 요소를 수직 중앙 정렬 */
}
#footer .ft_familysite .ft_btn p {
    font-size: 14px;
}

#footer .ft_top .flex {
    align-items: center;
}

#footer .ft_familysite .ft_btn .siteli.active {
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 0 0 10px 10px;
    border-radius: 10px;
    display: block;
    font-weight: 300;
    left: 0;
    position: absolute;
    top: 70px;
    width: 100%;
}

#footer .ft_familysite .ft_btn .siteli li {
    padding: 17px 15px;
}


#footer .ft_familysite .ft_btn p:after {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAARzQklUCAgICHwIZIgAAADDSURBVEhL7dRhDYMwEAVgcIAEJEwCDggKyJxMwiQgAQfDAUhBwt4lbUIWwt07Evixa3K/6PVLX1vK4qZR3uQWAV+WfEQdUWsJPDBBatAm/n4/c7kE/KAq1JPFvXBGpX9CtSzugbdoA3BJu+0ZnIX30Hx8cs5mnIGPUBq3whaUwi0wg5pxDfagJvwIrrHCjJI5+fay/4l84To0jttmbcfv9FTkyXjHC42yzsrAXkzt03asLuCdELA3ObovoqYj8zb8X9Rfs7YmH/hNC3UAAAAASUVORK5CYII=);
    background-size: 20px 20px;
    content: "";
    display: block;
    height: 20px;
    margin-left: 5px;
    width: 20px;
}
#footer .ft_top .flex {
    align-items: center;
}

.flex {
    display: flex;
    justify-content: space-between;
}

#footer .ft_familysite .ft_btn .siteli li {
    padding: 10px 15px;
}

a, a:active, a:link, a:visited {
    border: 0;
    color: #111;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ol, ul {
    list-style-type: none;
}

dl, ol, ul {
    margin-bottom: 0 !important;
    margin-top: 0;
}

ol, ul {
    padding-left: 0 !important;
}




/* 탑버튼 *************************************************** */
#top-btn { 
    display: none; 
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 999;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    font-size: 20px;
    font-weight: 500;
}


/* 모달버튼 *************************************************** */
.pop-layer .pop-container {
    padding: 20px 25px;
  }
  
  .pop-layer p.ctxt {
    color: #666;
    line-height: 25px;
  }
  
  .pop-layer .btn-r {
    width: 100%;
    margin: 10px 0 20px;
    padding-top: 10px;
    border-top: 1px solid #DDD;
    text-align: right;
  }
  
  .pop-layer {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 410px;
    height: auto;
    background-color: #fff;
    border: 5px solid #3571B5;
    z-index: 10;
  }
  
  .dim-layer {
    display: none;
    position: fixed;
    _position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  
  .dim-layer .dimBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
  }
  
  .dim-layer .pop-layer {
    display: block;
  }
  
  a.btn-layerClose {
    display: inline-block;
    height: 25px;
    padding: 0 14px 0;
    border: 1px solid #304a8a;
    background-color: #3f5a9d;
    font-size: 13px;
    color: #fff;
    line-height: 25px;
  }
  
  a.btn-layerClose:hover {
    border: 1px solid #091940;
    background-color: #1f326a;
    color: #fff;
  }